body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E9C874;
  }
  
  #welcome-section {
    height: 100vh;
    font-size: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A34343;
    color: #fff;
    text-align: center;
  }
  
  .about-container {
    padding: 20px;
    height: 30vh;
    text-align: center;
  }
  
  #projects {
    padding: 50px 0;
    background-color: #FBF8DD;
  }
  
  .project-view{
    text-decoration: none;
  }

  .project-view:hover{
    color: blue;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project_title{
    text-align: center;
  }
  
  .project-tile {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:orangered;
  }
  
  #contact-section {
    padding: 50px 0;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
  }
  
  .social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background-color: #34495e;
    color: #fff;
  }

  .profile-link{
    text-decoration: none;
    display: inline-block;
    color: #111;
  }
  
  /* Adicionando Media Query */
  @media screen and (max-width: 600px) {
    .project-tile {
      width: calc(100% - 20px);
    }
  }

  .button-social:hover{
    background-color: purple;
    border: solid purple;
  }
  /* Fixando o navbar na parte superior da viewport */
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #navbar li {
    float: left;
  }
  
  #navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navbar li a:hover {
    background-color: #111;
  }
  